#IDEs
.idea

cura_build/*
jedi_build/*
build/*
_build_armhf/*
*.deb
.coverage

!cura_build/CMakeList.txt
!jedi_build/CMakeList.txt
!jedi_build/CPackConfig.cmake
/conanbuildinfo.txt
/graph_info.json

*.bak
*~
conan.lock
conanbuild.bat
conanbuildenv-release-x86_64.bat
conaninfo.txt
conanrun.bat
conanrunenv-release-x86_64.bat
deactivate_conanbuild.bat
deactivate_conanrun.bat
